.bodyc {
  display: flex;
  flex-direction: column;
  width: 60%;
  height: 100vh;
  margin: auto;
}
.contenedor_product {
  height: 75%;
}
.title {
  font-family: "Poppins", sans-serif;
  text-align: center;
}
