.bodyc {
  display: flex;
  flex-direction: column;
  width: 60%;
  height: 77vh;
  margin: auto;
}
.contenedor_product {
  display: flex;
  justify-content: space-evenly;
}
.title {
  font-family: "Poppins", sans-serif;
  text-align: center;
}
